APP_PORT=6000

DB_HOST=localhost
DB_USER=root
DB_PASS=5nP0eh1Gis9697aGGWPLR8p16mglbFTzuOhsn8oz6P3Qklkjsd
DB_NAME=go_setup
DB_PORT=3192

JWT_SECRET=5nP0eh1Gis9697aGGWPLR8p16mglbFTzuOhsn8oz6P3Qklkjsd

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=5
